
.bgg {
	background-color: 255,255,255,255;
}
.copyright {
  background-color: #1a252f;
}

body {
	background:#F9FDEB;
	font-size: 1.3em;

}
h2  {
	font-family: Comic Sans MS, Comic Sans, cursive;
}

img {padding-top: 20px;

}
.paa {
	padding-top: 0px;
}
h1 {
	font-family: Comic Sans MS, Comic Sans, cursive;
}
